monitoring/node-red-data/.flows.json.backup
[
    {
        "id": "1a27fd6175795bf9",
        "type": "tab",
        "label": "Tomato-Cultivation-Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b76b31a25729239",
        "type": "tab",
        "label": "Potato-Cultivation-Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d31b571286da958",
        "type": "tab",
        "label": "Fruit-Cultivation-Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5765d2042467176e",
        "type": "tab",
        "label": "Tomato-Cultivation-Actuators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a45ccd334f47670",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mqtt://mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "128965d0ba79b811",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-temp-1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/temperature/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "3b43b44c3de24cbb"
            ]
        ],
        "outputLabels": [
            "Object.data"
        ]
    },
    {
        "id": "6e0d184bed764203",
        "type": "inject",
        "z": "1a27fd6175795bf9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-22 * * *",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "128965d0ba79b811",
                "42238b2aea1119da",
                "f53f435d8013d1f5",
                "a91ef02876692a75",
                "b6382e492888d5da",
                "58ae290cce5f67b9",
                "2ff17bf195f060ae",
                "8ff63e6d82997063",
                "805d28640b086e75",
                "94ef238aed439740",
                "5dfebd5ec2cd0ec9"
            ]
        ]
    },
    {
        "id": "7938e83bcfeeb1a4",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat1/temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b43b44c3de24cbb",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "7938e83bcfeeb1a4"
            ]
        ]
    },
    {
        "id": "42238b2aea1119da",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-temp-2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/temperature/2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "13a1a9d65a32e222"
            ]
        ]
    },
    {
        "id": "13a1a9d65a32e222",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "8a163ae0ca7645b1"
            ]
        ]
    },
    {
        "id": "8a163ae0ca7645b1",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat2/temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "f53f435d8013d1f5",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-light",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/luminosity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "2b61b318d8ea4c33"
            ]
        ]
    },
    {
        "id": "805d28640b086e75",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-sprinkler1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/soilHumidity/1/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e6989d133621413c"
            ]
        ]
    },
    {
        "id": "94ef238aed439740",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-sprinkler2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/soilHumidity/2/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "3eb04cb48d09fa1c"
            ]
        ]
    },
    {
        "id": "5dfebd5ec2cd0ec9",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-sprinkler3",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/soilHumidity/3/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "cf7f3e74633a6f1c"
            ]
        ]
    },
    {
        "id": "b6382e492888d5da",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-air-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/airhumidity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "83dac6ea5315ed15"
            ]
        ]
    },
    {
        "id": "58ae290cce5f67b9",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-co2-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/co2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "a7c3edb9e0c035b6"
            ]
        ]
    },
    {
        "id": "2ff17bf195f060ae",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-fan",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/co2/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 600,
        "wires": [
            [
                "2c50652d1db6ebab"
            ]
        ]
    },
    {
        "id": "8ff63e6d82997063",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-ph-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/ph",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "8cfb853693fb0265"
            ]
        ]
    },
    {
        "id": "2b61b318d8ea4c33",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "3ab8d67705b8e936"
            ]
        ]
    },
    {
        "id": "21a4b3758d7791f4",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "aa807db98b3abf34"
            ]
        ]
    },
    {
        "id": "e6989d133621413c",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "24dc82fb9259e7f9"
            ]
        ]
    },
    {
        "id": "3eb04cb48d09fa1c",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "939cf6fafe0338d5"
            ]
        ]
    },
    {
        "id": "cf7f3e74633a6f1c",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "efda64ca54ea7a5b"
            ]
        ]
    },
    {
        "id": "83dac6ea5315ed15",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "3423a4332707a060"
            ]
        ]
    },
    {
        "id": "a7c3edb9e0c035b6",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "4be0e97eb117d728"
            ]
        ]
    },
    {
        "id": "2c50652d1db6ebab",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 600,
        "wires": [
            [
                "4060591cbf9ed8ec"
            ]
        ]
    },
    {
        "id": "8cfb853693fb0265",
        "type": "function",
        "z": "1a27fd6175795bf9",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 660,
        "wires": [
            [
                "a8de7095a1eb53ec"
            ]
        ]
    },
    {
        "id": "3ab8d67705b8e936",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-light/light/luminosity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa807db98b3abf34",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-soil-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "24dc82fb9259e7f9",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler1/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "939cf6fafe0338d5",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler2/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "efda64ca54ea7a5b",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler3/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "3423a4332707a060",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-air-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "4be0e97eb117d728",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-co2-meter/co2-meter/carbone-dioxite",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "4060591cbf9ed8ec",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-fan/fan/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8de7095a1eb53ec",
        "type": "mqtt out",
        "z": "1a27fd6175795bf9",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-ph-meter/ph-meter/ph",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "a91ef02876692a75",
        "type": "http request",
        "z": "1a27fd6175795bf9",
        "name": "tomato-cultivation-soil-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/soilhumidity/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "21a4b3758d7791f4"
            ]
        ]
    },
    {
        "id": "107ed8186a51c686",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-temp",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/temperature/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "5bd6f51c0c072d51"
            ]
        ],
        "outputLabels": [
            "Object.data"
        ]
    },
    {
        "id": "5c319e8f78aad588",
        "type": "inject",
        "z": "2b76b31a25729239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-22 * * *",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "107ed8186a51c686",
                "81031ca617e70302",
                "5b0d7fa17ff8a6b2",
                "5c25d27659aeb414",
                "897314a04f013760",
                "ab626cb69dd90d2c",
                "3e2e92a16d843e8c",
                "dcd9753e5f99270e",
                "eb066e3784465da1",
                "ca3a066758375595"
            ]
        ]
    },
    {
        "id": "5bd6f51c0c072d51",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "9b72146de41a1eef"
            ]
        ]
    },
    {
        "id": "9b72146de41a1eef",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-thermostat/thermostat/temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "4449a27c0c4db6ae",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-light/light/luminosity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7d81bae33907294",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "4449a27c0c4db6ae"
            ]
        ]
    },
    {
        "id": "81031ca617e70302",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-light",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/luminosity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "f7d81bae33907294"
            ]
        ]
    },
    {
        "id": "0998056b39c024d4",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-soil-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "b4ccaaae9e911576",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "0998056b39c024d4"
            ]
        ]
    },
    {
        "id": "5b0d7fa17ff8a6b2",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-soil-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/soilhumidity/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "b4ccaaae9e911576"
            ]
        ]
    },
    {
        "id": "897314a04f013760",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-sprinkler2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/soilHumidity/2/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "dc0a077734e9ac04"
            ]
        ]
    },
    {
        "id": "dc0a077734e9ac04",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "949f8aa1d43f1bcf"
            ]
        ]
    },
    {
        "id": "949f8aa1d43f1bcf",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-sprinkler/sprinkler2/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "5c25d27659aeb414",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-sprinkler1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/soilHumidity/1/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "b951ecde554a87ba"
            ]
        ]
    },
    {
        "id": "2a2ed2e3e162a995",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-sprinkler/sprinkler1/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "b951ecde554a87ba",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "2a2ed2e3e162a995"
            ]
        ]
    },
    {
        "id": "3e2e92a16d843e8c",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-co2-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/co2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "1adcfcd5864649c8"
            ]
        ]
    },
    {
        "id": "ab626cb69dd90d2c",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-air-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/airhumidity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "4504afefdc564c10"
            ]
        ]
    },
    {
        "id": "4504afefdc564c10",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "8464bf959b17a354"
            ]
        ]
    },
    {
        "id": "8464bf959b17a354",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-air-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "1adcfcd5864649c8",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "053e952776753a59"
            ]
        ]
    },
    {
        "id": "053e952776753a59",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-co2-meter/co2-meter/carbone-dioxite",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "0dba1731cd4f165f",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-fan/fan1/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 860,
        "y": 500,
        "wires": []
    },
    {
        "id": "d10b953b456bd655",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "0dba1731cd4f165f"
            ]
        ]
    },
    {
        "id": "dcd9753e5f99270e",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-fan1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/co2/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 500,
        "wires": [
            [
                "d10b953b456bd655"
            ]
        ]
    },
    {
        "id": "ca3a066758375595",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-ph-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/ph",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "d48daaef5f6fa123"
            ]
        ]
    },
    {
        "id": "d48daaef5f6fa123",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "1417523049b1725f"
            ]
        ]
    },
    {
        "id": "1417523049b1725f",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-ph-meter/ph-meter/ph",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "a928da20e5f05555",
        "type": "mqtt out",
        "z": "2b76b31a25729239",
        "name": "",
        "topic": "greenhouse/potato-cultivation-fan/fan2/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "a16d5ced7a768841",
        "type": "function",
        "z": "2b76b31a25729239",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "a928da20e5f05555"
            ]
        ]
    },
    {
        "id": "eb066e3784465da1",
        "type": "http request",
        "z": "2b76b31a25729239",
        "name": "potato-cultivation-fan2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/potato-cultivation/co2/2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "a16d5ced7a768841"
            ]
        ]
    },
    {
        "id": "f0108f6f32043bc9",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-temp",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/temperature/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "0187f12a9e429708"
            ]
        ],
        "outputLabels": [
            "Object.data"
        ]
    },
    {
        "id": "1307a2fa33ac26a5",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-light",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/luminosity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "0587a77b9cbfb519"
            ]
        ]
    },
    {
        "id": "bd699f930777680f",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-soil-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/soilhumidity/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "392d88c8387e2e9d"
            ]
        ]
    },
    {
        "id": "da63eca9faa9a90e",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-sprinkler1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/soilHumidity/1/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "75b92c8c1c3f22f6"
            ]
        ]
    },
    {
        "id": "845086b0a1eaf1ab",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-sprinkler2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/soilHumidity/2/sprinkler",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "3577736aa1235df8"
            ]
        ]
    },
    {
        "id": "8e5b130f8684811e",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-air-hygrometer",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/airhumidity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "6eeeefc5d0e7a53f"
            ]
        ]
    },
    {
        "id": "eeaeb266d374af68",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-co2-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/co2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "d22381e0e1b69dd2"
            ]
        ]
    },
    {
        "id": "50423b864c901c19",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-fan",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/co2/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "d6618ef51f6c88cf"
            ]
        ]
    },
    {
        "id": "e620d7e547eac0b3",
        "type": "http request",
        "z": "9d31b571286da958",
        "name": "fruit-cultivation-ph-meter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/fruit-cultivation/ph",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "45ffb1e5e24df496"
            ]
        ]
    },
    {
        "id": "45ffb1e5e24df496",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "4e4f945da15d95f4"
            ]
        ]
    },
    {
        "id": "d6618ef51f6c88cf",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 500,
        "wires": [
            [
                "108ff7c0bfe4f4d5"
            ]
        ]
    },
    {
        "id": "d22381e0e1b69dd2",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "829d9be4c1dd1d08"
            ]
        ]
    },
    {
        "id": "6eeeefc5d0e7a53f",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "4b7da2ee66c2c58a"
            ]
        ]
    },
    {
        "id": "3577736aa1235df8",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 320,
        "wires": [
            [
                "24f36d70674083ac"
            ]
        ]
    },
    {
        "id": "75b92c8c1c3f22f6",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nif(msg.payload == false){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "4eca27db6ab8ed8c"
            ]
        ]
    },
    {
        "id": "392d88c8387e2e9d",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "38e79f833cb4f460"
            ]
        ]
    },
    {
        "id": "0587a77b9cbfb519",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "063d58f391e003bf"
            ]
        ]
    },
    {
        "id": "0187f12a9e429708",
        "type": "function",
        "z": "9d31b571286da958",
        "name": "",
        "func": "msg.payload = msg.payload.data\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            [
                "0d10e1907b92dc2b"
            ]
        ]
    },
    {
        "id": "0d10e1907b92dc2b",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-thermostat/thermostat/temperature",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 910,
        "y": 80,
        "wires": []
    },
    {
        "id": "063d58f391e003bf",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-light/light/luminosity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "38e79f833cb4f460",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-soil-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "4eca27db6ab8ed8c",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-sprinkler/sprinkler1/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "24f36d70674083ac",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-sprinkler/sprinkler2/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "4b7da2ee66c2c58a",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-air-hygrometer/hygrometer/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "829d9be4c1dd1d08",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-co2-meter/co2-meter/carbone-dioxite",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "108ff7c0bfe4f4d5",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-fan/fan/power",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "4e4f945da15d95f4",
        "type": "mqtt out",
        "z": "9d31b571286da958",
        "name": "",
        "topic": "greenhouse/fruit-cultivation-ph-meter/ph-meter/ph",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5bedf2b8c9cd422",
        "type": "inject",
        "z": "9d31b571286da958",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-22 * * *",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "f0108f6f32043bc9",
                "1307a2fa33ac26a5",
                "bd699f930777680f",
                "da63eca9faa9a90e",
                "845086b0a1eaf1ab",
                "8e5b130f8684811e",
                "eeaeb266d374af68",
                "50423b864c901c19",
                "e620d7e547eac0b3"
            ]
        ]
    },
    {
        "id": "cf21937e15f701cf",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] SetHeating",
        "func": "console.log(\"Read on topic: \" + msg.payload)\n\nmsg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/temperature/setHeating\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n    \"heatingOn\": msg.payload\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "ac8cbb3e6c7e5faf",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://web:8000/greenhouse/tomato-cultivation/temperature/setHeating",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1550,
        "y": 400,
        "wires": [
            [
                "c1e50d9228403761"
            ]
        ]
    },
    {
        "id": "c7497760547ae6d2",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Message sent\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 360,
        "wires": []
    },
    {
        "id": "c1e50d9228403761",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 400,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "ae95f3a966d3eac1",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Error while sending message\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6fca46eb614f77a",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] SetLight",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/light/__to_fill\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n    \"__to_fill__\": msg.payload\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "80dd0c0fd04315db",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Sprinkler",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/sprinkler/__to_fill\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n    \"__to_fill__\": msg.payload\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "bccd87d7833dfd86",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Fan",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/temperature/__to_fill__\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nmsg.payload = {\n    \"__to_fill__\": msg.payload\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "2fe462ebc3a1e7fd",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat1/temperature/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "cf21937e15f701cf"
            ]
        ]
    },
    {
        "id": "7b864f8f111e8288",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat2/temperature/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "cf21937e15f701cf"
            ]
        ]
    },
    {
        "id": "bc06730328dcf1d0",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-light/light/luminosity/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "b6fca46eb614f77a"
            ]
        ]
    },
    {
        "id": "53400a4dbf8f2aec",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler1/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "80dd0c0fd04315db"
            ]
        ]
    },
    {
        "id": "89a91a8a3ce3458e",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler2/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "80dd0c0fd04315db"
            ]
        ]
    },
    {
        "id": "561d21c568c6bc9a",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler3/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "80dd0c0fd04315db"
            ]
        ]
    },
    {
        "id": "fe41db205e22469e",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-fan/fan/power",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 600,
        "wires": [
            [
                "bccd87d7833dfd86"
            ]
        ]
    }
]